In [16]:
import os
import pandas as pd
import json, csv, sys
from pandas.io.json import json_normalize

# file list

In [17]:
def getJsonFileNameList(mydir):

    fileNameList =os.listdir(mydir)
    jsonFileNameList=[]
    for file in fileNameList:
        if file[-4:] == 'json':
            jsonFileNameList.append(file)
        
    return jsonFileNameList

def json2dataframe(mydir, jsonFile):
    with open(mydir + jsonFile,encoding='UTF8') as f:
        jsonData = json.load(f) # list 얻는다.
        
    df = pd.DataFrame.from_dict(json_normalize(jsonData), orient='columns')
    return df

In [18]:
mydir = 'C:/Users/dongm/COSMOCHAIN/Code/DataTeam/DataProcessing/product/crawling/Manual/'
dir_output = 'C:/Users/dongm/COSMOCHAIN/Data/Product/crawling/'

jsonFileNameList = getJsonFileNameList(mydir)

In [19]:
jsonFileNameList

['ohui.json']

## colName

In [20]:
colName_standard = [
    'brand',
    'name',
    'color',
    'volume',
    'type',
    'category',
    'image',
    'originalPrice',
    'url',
    'salePrice',
    'id',
    'limited',
    'originalName',
    'notes'
]

# matching column name

In [21]:
new_df = pd.DataFrame(columns = colName_standard)
new_df

Empty DataFrame
Columns: [brand, name, color, volume, type, category, image, originalPrice, url, salePrice, id, limited, originalName, notes]
Index: []

In [22]:
for jsonFile in jsonFileNameList:
    df = json2dataframe(mydir,jsonFile)
    new_df = new_df.append(df, ignore_index=True, sort=True)

In [23]:
set(new_df['brand'])

{'ohui'}

In [24]:
new_df.head(2)

,brand,category,color,id,image,limited,name,notes,originalName,originalPrice,salePrice,type,url,volume
0,ohui,Home > CATEGORY > Cleansing,#,NaN,[http://www.careshop.co.kr/eimages/display/ACM...,NaN,피토 바이탈 딥 퓨리파잉 솝,NaN,NaN,#,#,NaN,http://www.ohui.co.kr/product/detail.jsp?pid=A...,130g
1,ohui,Home > CATEGORY > Cleansing,#,NaN,[http://www.careshop.co.kr/eimages/display/ACM...,NaN,미라클 아쿠아 버블 클렌저,NaN,NaN,#,#,NaN,http://www.ohui.co.kr/product/detail.jsp?pid=A...,150ml

In [25]:
# outputname = dir_output+'output_total.xlsx'
writer = pd.ExcelWriter(dir_output + 'crawling product.xlsx', engine='xlsxwriter',options={'strings_to_urls': False})
new_df.to_excel(writer, sheet_name='Sheet1')
writer.close()